/*тесты на pixel perfect на гитхаб сравнивают почему-то со старым макетом, но делала я по новому*/
/***************************header**********************************/
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  column-gap: 36px;
  padding: 92px 50px 96px 50px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  text-transform: lowercase;
  list-style-type: circle;
}

.no-list-style-type {
  list-style-type: none;
}

.menu-font {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 0.2em;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  padding: 1px 6px 0 7px;
}

.contacts-font {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 0.2em;
}

.contacts-list {
  justify-self: end;
  max-width: 240px;
  margin-left: auto;
  list-style-type: none;
}

/*******************************main***************************************/
/***************************section cover**********************************/
.cover {
  position: relative;
  z-index: -1;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background: url("../images/cover.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: grid; /*для позиционирования слов в cover использую grid */
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 20px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.left-word {
  justify-self: start;
}

.center-word {
  justify-self: center;
  margin-right: -30px;
}

.right-word {
  justify-self: end;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 106px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.cover__description-text {
  align-self: center;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: transparent;
}

/***************************section lots**********************************/
.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.section-title {
  margin-left: 40px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  color: #fff;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat;
}

.lots__card-item {
  position: relative;
  z-index: -1;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.lots__card-link {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__card {
  display: grid;
  height: 100%;
  padding: 48px 40px;
}

.lots__card-title {
  align-self: start;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-transform: uppercase;
}

.lots__card-text {
  align-self: end;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.lots__more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
  text-underline-offset: 0.2em;
}

/***************************section about**********************************/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-content: space-between;
  gap: 25px;
  margin-top: 155px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-img {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-left: 0;
  padding: 101px 0 100px 0;
}

.about__text {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  /*white-space: pre-line;*/
}

.about__text.about__start-paragraph {
  margin-top: 0;
  margin-right: 5px;
}

/***************************footer**********************************/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
}

.footer__contacts {
  justify-self: start;
  max-width: 265px;
}

.contacts-list.footer__list-contacts {
  margin: 0;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
