/* место для вашего кода */
body {
  /*color: #000;
  background-color: rgba(84, 75, 75, 0.3);*/
}

.header {
 /*display: flex; 
  justify-content: space-between;
  align-items: center;*/
  margin: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 392px 148px 388px;
  column-gap: 36px;
  
}

.header-nav{
  align-self: center;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  text-transform: lowercase;
  list-style-type: circle;
}

.no-style-type{
  list-style-type: none;
}

.header-nav-list-elment {
  --marker-size: 6px;
}

.nav-font {
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 0.2em;
}

.header-logo-img {
  width: 148px;
  height: 105px;
  justify-content: center;
 /* margin: 0 auto;
 
top: 92px;
left: 478px;
gap: 0px;
opacity: 0px;*/
}

.contacts-font{
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 0.2em;
}

.contacts-list {
  margin-left: auto;
  width: 240px;
  list-style-type: none;
  text-align: left;
}

.contacts-list-elment {
  /*height: 24px;*/
}

.sub_theme {
  color: #fff;
}
.cover {
  height: 757px;
  position: relative;
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);  
  text-transform: uppercase;
  padding: 165px 50px 50px 50px;
}

.title-banner {
  display: grid;
  height: 385px;
  font-size: 100px;
  font-weight: bold; 
  line-height: 115px; 
  letter-spacing: 0.3em;
}
.title-banner-part {
  display: block;
  height: 115px;
  margin-right: -0.3em;
}

.left-word {
  justify-self: start;
}

.center-word {
  justify-self: center;
}

.right-word {
  justify-self: end;
}

.cover-footer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: left;
}

.subtitle {
  font-family: Raleway;
  font-size: 22px;
  line-height: 51px;
  text-align: left;
}

.cover-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: none;
  color: inherit;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.section-title {
  font-size: 40px; 
  line-height: 46.96px;
  text-align: left; 
  text-transform: uppercase;
  font-family: Raleway;
  margin-left: 40px;
}

.content {
  margin: 180px 24px 0 24px;
}

.lots {
  height: 723px;
}

.lots-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  height: 596px;
  margin-top: 27px;
}

.lot-card { 
  /*width: 334px;*/
  padding: 48px 40px;
  background: rgba(0, 0, 0, 0.6);
}
.lot-card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lot-card-link-img {
  height: 100%;
  text-align: center;
}
.lot-card-info {
  height: 100%;
  display: grid;
  
}

.lot-card-title {
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  align-self: start;
}

.lot-card-text {
  align-self: end;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.lots-more {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
}

.about {
  margin-top: 120px;
  padding-top: 35px;
  padding-left: 47px;
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.about-logo {
  display:flex;
  align-items:center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about-logo-img {
  width: 141.54px;
  height: 112.55px;
}

.about-info {
  padding-top: 101px;
  width: 693px;
}

.about-title {
  margin-left: 0;
}

.about-text {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.about-text.about-start-paragraph {
  margin-top: 100px;
}

.footer {
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.contacts-footer {
  width: 265px;
}

.contacts-list.footer-list-contacts {
  margin: 0;
}

.footer-nav {
  text-align: center;
}

.social-links {
  display: flex;
  gap: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}
